/* Write your CSS here */

.link-comp {
  width: 48%;
  text-decoration: none;
  background-color: #ffffff33;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
  margin-bottom: 20px;
  border: 1px solid #ffffff;
}

@media screen and (max-width: 768px) {
  .link-comp {
  }
}
.team-card-li-con {
  display: flex;
  align-items: center;
}

.team-card-team-img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .team-card-team-img {
    width: 60px;
    height: 60px;
  }
}
.team-card-team-name {
  font-family: 'Bree Serif';
  color: #ffffff;
  font-size: 22px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .team-card-team-name {
    font-size: 15px;
  }
}
